{% extends 'reddit/base.html' %}
{% load post_tags %}

{% block title %}{{post.title}}{% endblock title %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <small class="card-subtitle mb-2 text-muted ">Published {{post.publish}} by {{post.author}}</small>
    <p class="card-text">{{post.body|markdown}}</p>
    {% for tag in post.tags.all %}
    <span class="badge bg-primary">{{tag}}</span>
    {% endfor %}

    <hr />
    {% if similar_posts %}
    <h4>Similar Posts</h4>
    {% for s_post in similar_posts %}
    <p>
      <a href="{{ s_post.get_absolute_url }}">{{ s_post.title }}</a>
    </p>
    {% endfor %}
    {% else %}
    <small class="text-muted">There is no similar post!!</small>
    {% endif %}
  </div>
</div>

<div class="card" style="margin-top:1rem;">
  <div class="card-header">
    Comments
  </div>
  <div class="card-body">
    {% include 'reddit/includes/comments.html' with comments=comments %}
  </div>
</div>
{% endblock content %}